<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1" data-theme="luxury">

  <%- include('partials/navbar', {page: '/about'}) %>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">ABOUT ME</h1>
        <p class="py-6">Everything about me😊</p>

      </div>
    </div>
  </div>

    <br />

    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-1">
          <figure class="p-4">
              <img  class="about-img w-full max-w-xxl h-auto max-h-96"  src="/images/imgabout.jpg" alt="about img">
          </figure>
      </div>
      <div class="col-span-1 about-text">
          <p class="p-4">Hey, Gitika this side. I am an aspiring data scientist.
              But right now, I am in the program Computer Programming and analysis in Seneca College.
             I love dealing with the data and playing with it. It is one of the reason I got admitted into 
             a programming course because I wanted to have some programming experience so that it will 
             make my foundation strong for the coding concepts and also my algorithms skills will be improved.</p>
      </div>
    </div>

  </div>
</body>

</html>